<div class="dataTables_paginate paging_bootstrap">
    <ul class="pagination pagination-sm" style="margin:0 !important">
        <li class="prev disabled"><a href="#">← Previous</a></li>
        <!-- <li class="active"><a href="#">1</a></li> -->
        <li ng-repeat="page in pages"><a href="#" ng-click="press($index+1)">{{page}}</a></li>
        <!-- <li><a href="#">2</a></li>
        <li><a href="#">3</a></li> -->
        <li class="next disabled"><a href="#">Next → </a></li>
    </ul>
</div>
